body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue";
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.logo-text h1 {
    margin: 0;
    font-size: 24px;
}

.logo-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffa500;
}

form {
    max-width: 500px;
    margin: 50px;
    padding: 30px;
    background-color: #fff9c4;
    border: 2px solid #ffeb3b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
}

form div {
    margin-bottom: 15px;
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f57f17;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffeb3b;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fffde7;
    color: #333;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fdd835;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #fbc02d;
}

button:active {
    background-color: #f9a825;
}

.footer {
    padding: 17px 0;
    background-color: #ffa500;
}

.footer .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    color: #000;
}