* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text h1 {
  margin: 0;
  font-size: 24px;
}

.logo-text p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #6b6363;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffa500;
}

main {
  padding: 20px;
  background-color: #f9f9f9;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  gap: 1rem;
}

.welcome-section img {
  max-width: 100%;
  height: auto;
}

.welcome-text {
  max-width: 40%;
  text-align: left;
  margin-left: 50px;
  margin-top: 30px;
}

.welcome-text h2 {
  text-shadow: 1px 1px 1px #000000;
  font-size: 60px;
  color: #000;
  margin-bottom: 40px;
}

.welcome-text p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.welcome-text a {
  display: inline-block;
  color: #000;
  background-color: #ffa500;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
  margin: 10px;
}

.welcome-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.footer {
  padding: 29px 0;
  background-color: #ffa500;
}

.footer .copyright {
  text-align: center;
  font-size: 15px;
  color: #000;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  .welcome-section {
    flex-direction: column;
    padding: 20px 10px;
  }

  .welcome-text {
    max-width: 100%;
    text-align: center;
  }

  .welcome-text h2 {
    font-size: 40px;
  }

  .welcome-text p {
    font-size: 16px;
  }

  .welcome-section img {
    margin: 0 auto;
  }

  .welcome-text a {
    display: inline-block;
    margin: 5px auto;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .welcome-text h2 {
    font-size: 24px;
  }

  .welcome-text p {
    font-size: 14px;
  }

  .welcome-text a {
    padding: 10px 20px;
    font-size: 12px;
  }
}