body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .logo-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #FFA500;
  }
  
  nav ul li a.get-started-btn {
    background-color: #FFA500;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a.get-started-btn:hover {
    background-color: #FF8C00;
  }
  
  footer {
    background-color: #ffa500;
    color: #000;
    padding: 1px 0;
  }
  
  .footer-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 10%;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-logo .logo-text {
    margin-left: 10px;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 200px;
  }
  
  .footer-column h3 {
    margin-top: 0;
  }
  
  .footer-column p,
  .footer-column a {
    color: #000;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .footer-column form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-column input[type="email"] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
  }
  
  .footer-column button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .footer-column button:hover {
    background-color: #333;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
  }