body {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue";
}

p {
  line-height: 2;
}

input {
  padding: 0.6rem 0rem;
}

textarea {
  height: 40vh;
}

table {
  border-spacing: 1rem;
}
