body {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue";
}

p {
  line-height: 2;
}

input {
  padding: 0.6rem 0rem;
}

textarea {
  height: 40vh;
}

table {
  border-spacing: 1rem;
}

main {
	min-height: 80vh;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-content {
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}

.display {
	display: block;
}

.card-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
	gap: 1rem;
}

.task-card {
	padding: 0.5rem;
	flex: 1;
}

button,
.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.mood-sad {
	background-image: url("../assets/images/emotion-sad-line.png");
}

.mood-unhappy {
	background-image: url("../assets/images/emotion-unhappy-line.png");
}

.mood-neutral {
	background-image: url("../assets/images/emotion-normal-line.png");
}

.mood-happy {
	background-image: url("../assets/images/emotion-happy-line.png");
}

.mood-joyful {
	background-image: url("../assets/images/emotion-laugh-line.png");
}

.flex {
	display: flex;
	gap: 1rem;
}

.column {
	flex-direction: column;
}

.between {
	justify-content: space-between;
}

.center {
	justify-content: center;
	align-items: center;
}

.wrap {
	flex-wrap: wrap;
}

.around {
	justify-content: space-around;
}

.right {
	justify-content: right;
}

.gap {
	gap: 2rem;
}
