body {
  background-color: #111;
  color: white;
}

a {
  color: gray;
}

a:hover {
  color: #dfff4e;
}

button, .btn {
  background-color: #dfff4e;
  color: rgb(27, 24, 15);
}

.secondary {
  background-color: #222;
}

.card-list {
  background-color: #222;
  color: white;
}

.delete-icon {
  background-color: #dfff4e;
  background-image: url('../../assets/images/delete_image.png');
  background-size: cover;
  background-position: center;
}

.mood-btn {
  background-color: #546125;
}

.card-selected {
  background-color: #546125;
}