body {
  background-color: #111;
  color: white;
}

a {
  color: gray;
}

a:hover {
  color: #dfff4e;
}

button, .btn {
  background-color: #dfff4e;
  color: #1b180f;
}

button:hover, .btn:hover {
  background-color: #f4ffc2;
  color: #1b180f;
}

.card-list, .modal-content {
  background-color: #222;
  color: #fff;
}

.secondary {
  background-color: #222;
}

.card-list {
  background-color: #222;
  color: white;
}

.delete-icon {
  background-color: #dfff4e;
  background-image: url('../../assets/images/delete_image.png');
  background-size: cover;
  background-position: center;
}

.mood-btn {
  background-color: #222;
}

.card-selected {
  background-color: #f4ffc2;
  color: #1b180f;
}